<h1>Listing articles</h1>

<div>
	<%= link_to 'Society', 
			:controller => "articles", 
			:action => "index", 
			:genre => "soci" %> |
	<%= link_to 'Econ', 
			:controller => "articles", 
			:action => "index", 
			:genre => "bus_all" %> | 
	<%= link_to 'Overseas', 
			:controller => "articles", 
			:action => "index", 
			:genre => "int" %>
</div>
<hr/>

<% @html.each do |item| %>
	<%#= raw item.to_html %>
	<% item.each do |article| %>
		<div style="line-height: 250%;">
			<%#= raw item[0] %>
			<%= raw article %><br/>
		</div>
	<% end %>
<% end %>

<br/>
